﻿@{
    ViewBag.Title = "Bpf";
}

<html>
<body>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
    <p></p>
    <strong>Using js lib for chart:</strong> <a href="https://www.chartjs.org/">doc here</a>
    <p></p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <input class="form-control" type="text" placeholder="filter length" id="filterN">
                <input class="form-control" type="text" placeholder="a" id="valA">
                <input class="form-control" type="text" placeholder="b" id="valB">
                <input class="form-control" type="text" placeholder="c" id="valC">
                <input class="form-control" type="text" placeholder="x0" id="val">
                <input class="form-control" type="text" placeholder="x1" id="txtData">
                <input class="form-control" type="text" placeholder="x2" id="txtData">
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select filter
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">New filter</a>
                        <a class="dropdown-item" href="#">Saturation</a>
                        <a class="dropdown-item" href="#">Zeroing</a>
                    </div>
                </div>
                <input class="btn btn-primary" type="button" id="btnShow" value="Show" />
            </div>
            <div class="col-md-10">
                <canvas id="canvas"></canvas>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Chart.js"></script>
    <script>
        var color = Chart.helpers.color;
        function generateData() {
            var data = [];
            for (var i = -50; i < 50; i++) {
                data.push({
                    x: i/10,
                    y: i/10
                });
            }
            return data;
        }

        var scatterChartData = {
            datasets: [{
                label: 'test',
                // borderColor: window.chartColors.red,
                //backgroundColor: color(window.chartColors.red).alpha(0.2).rgbString(),
                data: generateData()
            }]
        };

        window.onload = function () {
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myScatter = Chart.Scatter(ctx, {
                data: scatterChartData,
                options: {
                    title: {
                        display: true,
                        text: 'Graph of filter'
                    },
                }
            });
        };
    </script>
</body>
</html>
