﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Source code:</strong>   <a href="https://bitbucket.org/alexander-shiganov/testwebapp/src/master/">Bitbucket repository</a><br />
    <strong>Email:</strong> <a href="alexander.shiganov@gmail.com">alexander.shiganov@gmail.com</a>
    <strong>Telegram:</strong> <a href="https://t.me/alexander_shiganov">alexander_shiganov</a>
</address>