﻿@{
    ViewBag.Title = "Home Page";
}

@using TestWebApp.Models
@model IEnumerable<Data>

<html>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <p></p>
    <table id="tblData" class="table">
        <tr>
            <th>Id</th>
            <th>Data</th>
            <th></th>
        </tr>
        @foreach (Data dt in Model)
        {
            <tr>
                <td class="txt_id">
                    <span>@dt.txt_id</span>
                </td>
                <td class="txt_data">
                    <span>@dt.txt_data</span>
                    <input type="text" value="@dt.txt_data" style="display:none" />
                </td>
                <td>
                    <a class="Edit" href="javascript:;">Edit</a>
                    <a class="Update" href="javascript:;" style="display:none">Update</a>
                    <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                    <a class="Delete" href="javascript:;">Delete</a>
                </td>
            </tr>
        }
    </table>
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input class="form-control" type="text" placeholder="Enter new data here..." id="txtData">
            <input class="btn btn-primary" type="button" id="btnAdd" value="Add" />
        </div>
    </form>
    <script>
        function AppendRow(row, txt_id, txt_data) {
            $(".txt_id", row).find("span").html(txt_id);
            $(".txt_data", row).find("span").html(txt_data);
            $(".txt_data", row).find("input").val(txt_data);
            row.find(".Edit").show();
            row.find(".Delete").show();
            $("#tblData").append(row);
        };
        //
        $("body").on("click", "#btnAdd", function () {
            var txtData = $("#txtData");
            $.ajax({
                type: "POST",
                url: "/Home/InsertData",
                data: '{txt_data: "' + txtData.val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    var row = $("#tblData tr:last-child");
                    if ($("#tblData tr:last-child span").eq(0).html() != "&nbsp;") {
                        row = row.clone();
                    }
                    AppendRow(row, r.txt_id, r.txt_data);
                    txtData.val("");
                }
            });
        });

        $("body").on("click", "#tblData .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            row.find(".Delete").hide();
            $(this).hide();
        });

        $("body").on("click", "#tblData .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Update").hide();
            $(this).hide();
        });

        $("body").on("click", "#tblData .Update", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Cancel").hide();
            $(this).hide();
            var data = {};
            data.txt_id = row.find(".txt_id").find("span").html();
            data.txt_data = row.find(".txt_data").find("span").html();
            $.ajax({
                type: "POST",
                url: "/Home/UpdateData",
                data: '{data:' + JSON.stringify(data) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        });

        $("body").on("click", "#tblData .Delete", function () {
            if (confirm("do u want delete?")) {
                var row = $(this).closest("tr");
                var dataId = row.find("span").html();
                $.ajax({
                    type: "POST",
                    url: "/Home/DeleteData",
                    data: JSON.stringify({ "dataId": dataId }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if ($("#tblData tr").length > 2) {
                            row.remove();
                        } else {
                            row.find(".Edit").hide();
                            row.find(".Delete").hide();
                            row.find("span").html('&nbsp;');
                        }
                    }
                });
            }
        });
    </script>
</body>
</html>
